<style>
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  mat-form-field {
    margin-right: 25px;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  #generateChildren {
    margin-left: 25px;
    margin-right: 50px;
  }
</style>

<!-- factory div -->
<div class="factory">
  <mat-form-field appearance="fill">
    <mat-label>Factory Name</mat-label>
    <input
      matInput
      [value]="factoryNode?.name"
      (change)="nameUpdated($event)"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lower bound children</mat-label>
    <mat-select [(value)]="lowerBound">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="11">11</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="13">13</mat-option>
      <mat-option value="14">14</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Upper bound children</mat-label>
    <mat-select [(value)]="upperBound">
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="11">11</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="13">13</mat-option>
      <mat-option value="14">14</mat-option>
      <mat-option value="15">15</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    id="generateChildren"
    mat-raised-button
    color="primary"
    (click)="generateRandomChildren()"
  >
    Regenerate Children
  </button>
  <button
    mat-mini-fab
    color="warn"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon (click)="deleteFactory()">delete</mat-icon>
  </button>
</div>
