<style>
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  mat-form-field {
    margin-right: 25px;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  #generateChildren {
    margin-left: 25px;
    margin-right: 50px;
  }
</style>

<p>factory works!</p>

<!-- factory div -->
<div class="factory">
  <mat-form-field appearance="fill">
    <mat-label>Factory Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lower bound children</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Upper bound children</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <button id="generateChildren" mat-raised-button color="primary">
    Generate Children
  </button>
  <button
    mat-mini-fab
    color="warn"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
